**Preprocessing Snort Logs part-2**

In [1]:
import pandas as pd
import datetime as dt
from datetime import datetime

In [2]:
tcplogDF = pd.read_csv('tcplog.csv', names = ['datetime','duration','protocol','src','src_port','dst','dst_port','src_bytes','dst_bytes','Unnamed'])
tcplogDF = tcplogDF[tcplogDF.index > 0]
tcplogDF

,datetime,duration,protocol,src,src_port,dst,dst_port,src_bytes,dst_bytes,Unnamed
1,04/16-05:53:06.445,0:00:00.000279,TCP,9.246.85.82,56785,192.168.136.128,135,0,0.,NaN
2,04/16-05:53:06.446,0:00:00.000282,TCP,9.246.85.82,16063,192.168.136.128,135,0,0.,NaN
3,04/16-05:53:06.448,0:00:00.000236,TCP,9.246.85.82,31743,192.168.136.128,135,0,0.,NaN
4,04/16-05:53:06.450,0:00:00.000226,TCP,9.246.85.82,61343,192.168.136.128,135,0,0.,NaN
5,04/16-05:53:06.452,0:00:00.000308,TCP,9.246.85.82,34043,192.168.136.128,135,0,0.,NaN
...,...,...,...,...,...,...,...,...,...,...
5742,04/16-05:53:12.195,0:00:00.000253,TCP,9.246.85.82,1155,192.168.136.128,135,0,0.,NaN
5743,04/16-05:53:12.196,0:00:00.000349,TCP,9.246.85.82,11618,192.168.136.128,135,0,0.,NaN
5744,04/16-05:53:12.198,0:00:00.000253,TCP,9.246.85.82,46443,192.168.136.128,135,0,0.,NaN
5745,04/16-05:53:12.199,0:00:00.000200,TCP,9.246.85.82,55413,192.168.136.128,135,0,0.,NaN
5746,04/16-05:53:12.200,0:00:00.000076,TCP,9.246.85.82,55833,192.168.136.128,135,0,0.,NaN

In [3]:
tcplogDF = tcplogDF[['datetime','duration','protocol','src','src_port','dst','dst_port','src_bytes','dst_bytes']]
tcplogDF['datetime_format'] = pd.to_datetime(tcplogDF['datetime'],format="%m/%d-%H:%M:%S.%f")
tcplogDF

,datetime,duration,protocol,src,src_port,dst,dst_port,src_bytes,dst_bytes,datetime_format
1,04/16-05:53:06.445,0:00:00.000279,TCP,9.246.85.82,56785,192.168.136.128,135,0,0.,1900-04-16 05:53:06.445
2,04/16-05:53:06.446,0:00:00.000282,TCP,9.246.85.82,16063,192.168.136.128,135,0,0.,1900-04-16 05:53:06.446
3,04/16-05:53:06.448,0:00:00.000236,TCP,9.246.85.82,31743,192.168.136.128,135,0,0.,1900-04-16 05:53:06.448
4,04/16-05:53:06.450,0:00:00.000226,TCP,9.246.85.82,61343,192.168.136.128,135,0,0.,1900-04-16 05:53:06.450
5,04/16-05:53:06.452,0:00:00.000308,TCP,9.246.85.82,34043,192.168.136.128,135,0,0.,1900-04-16 05:53:06.452
...,...,...,...,...,...,...,...,...,...,...
5742,04/16-05:53:12.195,0:00:00.000253,TCP,9.246.85.82,1155,192.168.136.128,135,0,0.,1900-04-16 05:53:12.195
5743,04/16-05:53:12.196,0:00:00.000349,TCP,9.246.85.82,11618,192.168.136.128,135,0,0.,1900-04-16 05:53:12.196
5744,04/16-05:53:12.198,0:00:00.000253,TCP,9.246.85.82,46443,192.168.136.128,135,0,0.,1900-04-16 05:53:12.198
5745,04/16-05:53:12.199,0:00:00.000200,TCP,9.246.85.82,55413,192.168.136.128,135,0,0.,1900-04-16 05:53:12.199
5746,04/16-05:53:12.200,0:00:00.000076,TCP,9.246.85.82,55833,192.168.136.128,135,0,0.,1900-04-16 05:53:12.200

In [4]:
dstList = tcplogDF['dst'].to_list()
i = 0
count = []
for dtime in tcplogDF['datetime_format'].to_list():
    count.append(len(tcplogDF.loc[(tcplogDF['datetime_format'] <= dtime) & (tcplogDF['datetime_format'] > (dtime - dt.timedelta(seconds=2))) & (tcplogDF['dst']==dstList[i])]))
    i += 1
tcplogDF['count'] = count
tcplogDF

,datetime,duration,protocol,src,src_port,dst,dst_port,src_bytes,dst_bytes,datetime_format,count
1,04/16-05:53:06.445,0:00:00.000279,TCP,9.246.85.82,56785,192.168.136.128,135,0,0.,1900-04-16 05:53:06.445,1
2,04/16-05:53:06.446,0:00:00.000282,TCP,9.246.85.82,16063,192.168.136.128,135,0,0.,1900-04-16 05:53:06.446,2
3,04/16-05:53:06.448,0:00:00.000236,TCP,9.246.85.82,31743,192.168.136.128,135,0,0.,1900-04-16 05:53:06.448,3
4,04/16-05:53:06.450,0:00:00.000226,TCP,9.246.85.82,61343,192.168.136.128,135,0,0.,1900-04-16 05:53:06.450,4
5,04/16-05:53:06.452,0:00:00.000308,TCP,9.246.85.82,34043,192.168.136.128,135,0,0.,1900-04-16 05:53:06.452,5
...,...,...,...,...,...,...,...,...,...,...,...
5742,04/16-05:53:12.195,0:00:00.000253,TCP,9.246.85.82,1155,192.168.136.128,135,0,0.,1900-04-16 05:53:12.195,2109
5743,04/16-05:53:12.196,0:00:00.000349,TCP,9.246.85.82,11618,192.168.136.128,135,0,0.,1900-04-16 05:53:12.196,2108
5744,04/16-05:53:12.198,0:00:00.000253,TCP,9.246.85.82,46443,192.168.136.128,135,0,0.,1900-04-16 05:53:12.198,2107
5745,04/16-05:53:12.199,0:00:00.000200,TCP,9.246.85.82,55413,192.168.136.128,135,0,0.,1900-04-16 05:53:12.199,2107
5746,04/16-05:53:12.200,0:00:00.000076,TCP,9.246.85.82,55833,192.168.136.128,135,0,0.,1900-04-16 05:53:12.200,2107

In [5]:
# src_portList = tcplogDF['src_port'].to_list()
# i = 0
# srv_count = []
# for dtime in tcplogDF['datetime_format'].to_list():
#     srv_count.append(len(tcplogDF.loc[(tcplogDF['datetime_format'] <= dtime) & (tcplogDF['datetime_format'] > (dtime - dt.timedelta(seconds=2))) & (tcplogDF['src_port']==src_portList[i])]))
#     i += 1
# tcplogDF['srv_count'] = srv_count
# tcplogDF

In [6]:
dst_portList = tcplogDF['dst_port'].to_list()
i = 0
dst_srv_count = []
for dtime in tcplogDF['datetime_format'].to_list():
    dst_srv_count.append(len(tcplogDF.loc[(tcplogDF['datetime_format'] <= dtime) & (tcplogDF['datetime_format'] > (dtime - dt.timedelta(seconds=2))) & (tcplogDF['dst_port']==dst_portList[i])]))
    i += 1
tcplogDF['srv_count'] = dst_srv_count
tcplogDF

,datetime,duration,protocol,src,src_port,dst,dst_port,src_bytes,dst_bytes,datetime_format,count,srv_count
1,04/16-05:53:06.445,0:00:00.000279,TCP,9.246.85.82,56785,192.168.136.128,135,0,0.,1900-04-16 05:53:06.445,1,1
2,04/16-05:53:06.446,0:00:00.000282,TCP,9.246.85.82,16063,192.168.136.128,135,0,0.,1900-04-16 05:53:06.446,2,2
3,04/16-05:53:06.448,0:00:00.000236,TCP,9.246.85.82,31743,192.168.136.128,135,0,0.,1900-04-16 05:53:06.448,3,3
4,04/16-05:53:06.450,0:00:00.000226,TCP,9.246.85.82,61343,192.168.136.128,135,0,0.,1900-04-16 05:53:06.450,4,4
5,04/16-05:53:06.452,0:00:00.000308,TCP,9.246.85.82,34043,192.168.136.128,135,0,0.,1900-04-16 05:53:06.452,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
5742,04/16-05:53:12.195,0:00:00.000253,TCP,9.246.85.82,1155,192.168.136.128,135,0,0.,1900-04-16 05:53:12.195,2109,2109
5743,04/16-05:53:12.196,0:00:00.000349,TCP,9.246.85.82,11618,192.168.136.128,135,0,0.,1900-04-16 05:53:12.196,2108,2108
5744,04/16-05:53:12.198,0:00:00.000253,TCP,9.246.85.82,46443,192.168.136.128,135,0,0.,1900-04-16 05:53:12.198,2107,2107
5745,04/16-05:53:12.199,0:00:00.000200,TCP,9.246.85.82,55413,192.168.136.128,135,0,0.,1900-04-16 05:53:12.199,2107,2107
5746,04/16-05:53:12.200,0:00:00.000076,TCP,9.246.85.82,55833,192.168.136.128,135,0,0.,1900-04-16 05:53:12.200,2107,2107

In [7]:
tcplogDF = tcplogDF[['datetime','duration','protocol','src','src_port','dst','dst_port','src_bytes','dst_bytes','count','srv_count']]
tcplogDF

,datetime,duration,protocol,src,src_port,dst,dst_port,src_bytes,dst_bytes,count,srv_count
1,04/16-05:53:06.445,0:00:00.000279,TCP,9.246.85.82,56785,192.168.136.128,135,0,0.,1,1
2,04/16-05:53:06.446,0:00:00.000282,TCP,9.246.85.82,16063,192.168.136.128,135,0,0.,2,2
3,04/16-05:53:06.448,0:00:00.000236,TCP,9.246.85.82,31743,192.168.136.128,135,0,0.,3,3
4,04/16-05:53:06.450,0:00:00.000226,TCP,9.246.85.82,61343,192.168.136.128,135,0,0.,4,4
5,04/16-05:53:06.452,0:00:00.000308,TCP,9.246.85.82,34043,192.168.136.128,135,0,0.,5,5
...,...,...,...,...,...,...,...,...,...,...,...
5742,04/16-05:53:12.195,0:00:00.000253,TCP,9.246.85.82,1155,192.168.136.128,135,0,0.,2109,2109
5743,04/16-05:53:12.196,0:00:00.000349,TCP,9.246.85.82,11618,192.168.136.128,135,0,0.,2108,2108
5744,04/16-05:53:12.198,0:00:00.000253,TCP,9.246.85.82,46443,192.168.136.128,135,0,0.,2107,2107
5745,04/16-05:53:12.199,0:00:00.000200,TCP,9.246.85.82,55413,192.168.136.128,135,0,0.,2107,2107
5746,04/16-05:53:12.200,0:00:00.000076,TCP,9.246.85.82,55833,192.168.136.128,135,0,0.,2107,2107

In [8]:
tcplogDF.to_csv('tcplogWithCount.csv', index=False)